<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
  <div class="container">
    <header id="header">

    </header>

    <hr />
    <main class="d-flex jusitfy-content-center align-items-center role="main">

      <!-- Blogs Section -->
      <section class="container mt-5 w-75 m-auto" id="blogSection">
        <h2 class="text-center mb-4">Latest Blogs</h2>
        <div class="row" id="blogCardsRow">
          <!-- Blog cards will be dynamically added here -->
        </div>
      </section>

    </main>
    <div class="h4 text-center">
      <hr>
      <br />
      <div id="footer">
      </div>

    </div>


  </div>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/home.js"></script>
  <script src="js/partials.js"></script>

</body>

</html>